.menu-screen {
    font-family: 'Pixelify Sans', sans-serif;
    width: 380pt;
    height: 350pt;
    background-color: #E596AC;
    padding: 10px;
}

.menu-screen button {
    background-color: #fccf96;
    border-radius: 0.6cm;
    font-size: 12pt;
}

.menu-screen h2 {
    font-size: 32pt;
    margin-bottom: 20px;
    margin-top: 20px;
}


.menu-screen img {
    width: 180px;
    margin-bottom: 40px;
}

.menu-screen .main-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-screen .left-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.menu-screen .side-buttons {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 4vw;
    gap: 5px;
}

.side-buttons button {
    width: 110px;
    height: 60px;
}

.left-content button {
    width: 201px;
    height: 80px;
    text-align: center;
    font-size: 15pt;
}