.timer-screen button {
    background-color: #fccf96;
    border-radius: 0.6cm;
    font-size: 13pt;
    width: 110px;
    height: 60px;
}

.task-input-form {
    display: flex;
  flex-direction: column;
  gap: 15px; /* space between label+input groups */
  width: 300px; /* adjust as needed */
  margin-bottom: 20px;
}

.task-input-form label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 20px;
}

.task-input-form input {
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Pixelify Sans', sans-serif;
  font-size: 14pt;
}