:root {
  font-family: 'Pixelify Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
}

button {
  font-family: 'Pixelify Sans', sans-serif;
  background-color: #fccf96;
  border-radius: 0.6cm;
  width: 6em;
  height: 2.5em;
  text-align: center;
  font-size: 15pt;
}

button:hover {
  border-color: #d66c61;
  color: #d66c61;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.screen {
  font-family: 'Pixelify Sans', sans-serif;
  width: 380pt;
  height: 350pt;
  background-color: #E596AC;
  padding: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}